//Color scheme option A

// $dominant: #348760;
// $text-main: #253237;
// $background: #E0FBFC;
// $accent: #9DB4C0;
// $x: #C2DFE3;


//Color scheme option B

$base: #348760;
$accent: #404363;
$light: #E0FBFC;
$gray: #8D99AE;
$dark: #253237;