
.main-header {
  background: $dark;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.25);
  }

.logo-full, .logo-small {
  color: $gray;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 0 0.5em;
  span {
    color: $base;
    font-weight: normal;
  }
}

.logo-small {
  @media (min-width: 550px) {
    display: none;
  }
}

.logo-full {
  display: none;
  @media (min-width: 550px) {
    display: block;
  }
}

.main-nav {
  font-size: 1rem;
  margin: 0 0.8em;
  ul {
    display: flex;
  }
  a {
    color: $gray;
    font-weight: bold;
    margin: 0.5em;
    &:hover {
      color: white;
    }
}
}
