
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  

body {
  background-color: $light;
  color: $dark;
  margin: 2rem auto;
  width: 90%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: $dark;
  text-decoration: none;
}